<div id="post-<%= post.id %>-likes", class="text-gray-500 hover:text-red-500">
  <% if post.liked_by?(current_user) %>
    <%= button_to 'Unlike', like_post_path(post), method: :delete, remote: true %>
  <% else %>
    <%= button_to 'Like', like_post_path(post), method: :post, remote: true %>
  <% end %>
  <span><%= post.likes.count %> likes</span>
</div>