<section class="pt-70 w-full h-screen bg-slate-200">

  <div class="w-[1000px] mx-auto">
    <h1 class="text-5xl mt-6">Users</h1>
  </div>
  
  <div class="w-full max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <% @users.each do |user| %>
      <div class="bg-white shadow rounded border border-transparent hover:border-blue-500 cursor-pointer">
        <div class="h-48 w-full checker-bg flex items-center justify-center p-4 text-blue-500">
          <div class="w-32 h-32 bg-gray-100 rounded-full bg-cover bg-center" style="background-image: url('https://images.pexels.com/photos/774731/pexels-photo-774731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"></div>
        </div>

        <div class="p-4 border-t border-gray-200">
          <div class="flex items-center justify-between">
            
            <%= link_to other_user_path(user.nickname) do %>
              <h2 class="text-gray-600 font-medium">
                <%= user.nickname %>
              </h2>
            <% end %>

            <% if current_user.following.include?(user) %>
              <%= button_to 'Unfollow', subscription_path(current_user.active_subscriptions.find_by(followed_id: user.id)),
                method: :delete,
                class: "text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" 
              %>
            <% else %>
              <%= button_to 'Follow', subscriptions_path(followed_id: user.id),
                class: "text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
              %>
            <% end %>

          </div>
          <p class="text-gray-400 text-sm my-1">Active</p>
        </div>
      </div>
    <% end %>
  </div>

</section>